
.wuunder-action-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100px;
}
.wuunder-action-list li {
    float: left;
    padding-right: 10px;
}
.wuunder-action-list li a {
    display: inline-block;
}
.wuunder-action-list li a img {
    background-color: #94D600;
    width: 30px;
    height: 26px;
    padding: 6px 5px;
}
