<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>wuunderconnector</name>
    <displayName><![CDATA[Wuunder verzendmodule]]></displayName>
    <version><![CDATA[1.2.7]]></version>
    <description><![CDATA[Verstuur al je zendingen makkelijk, persoonlijk en efficient. Wij volgen elke zending op de voet en nemen alle communicatie met de vervoerders van je over.]]></description>
    <author><![CDATA[Wuunder]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>